footer {
  flex-wrap: wrap;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex: 1;
  text-align: center;
}

.column-2 ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

p{
  font-size: small;
}

.footer-logo{
  font-size: x-large;
}