.panel-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh; /* Use viewport height to make the container full height */
  width: 100%;
  margin-top: 1rem;
}

.panel-content {
  flex-grow: 1; /* Allow the content to grow and fill the remaining space */
  padding-left: 60px; /* Make room for the sidebar */
}