/* Loading */

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 1rem;
}

.spinner {
  animation: spin 1s linear infinite; /* Apply a spinning animation */
  height: 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Starting rotation angle */
  }
  to {
    transform: rotate(360deg); /* Ending rotation angle */
  }
}
