/* Add this CSS in your stylesheet */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.login-form {
  background-color: var(--clr-main-4);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.315); /* Add the box shadow */

}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-form a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.2s;
}

.login-form a:hover {
  color: #0056b3;
}


.p-login-error {
  color: var(--clr-danger-dark);
}

/* .login-google{
  margin-bottom: 2rem;
} */

.disabled-button {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
  /* Add any other styles you want for a disabled button */
}