/* -----------------------*/
/* Welcome Main container */
/* -----------------------*/

.welcome-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0;
  color: var(--clr-grey-slate);
}

.welcome-container h2 {
  font-size: xx-large;
  color: var(--clr-grey-slate);
  text-shadow: 1px 1px ;
  margin-bottom: 2rem;
}

.welcome-container hr{
  width: 20%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* --------------------------- */
/* Presentation image section */
/* --------------------------- */

.background-section {
  background-image: url("../../assets/manos.jpg");
  background-size: cover;
  background-position: center;
  bottom: 0;
  height: 500px;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
  background-attachment: fixed;
  transform-origin: bottom;
}
.background-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black color with 50% opacity */
}


/* Position and style content */
.bg-section-content {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}


.bg-img-title {
  color: var(--clr-main);
  font-size: var(--font-title-xl);
}

.bg-img-subtitle {
  color: var(--clr-font-light);
}

/* ------------------*/
/* About Us section */
/* ------------------*/

.about-us {
  margin-bottom: 40px;
  padding: 0 150px;
}

.about-us-content {
  display: flex;
  align-items: center;
}

.about-us-left img {
  width: 400px;
  height: 400px;
}

.about-us-right {
  text-align: center;
  padding-left: 20px;
}

.p-about {
  padding: 0rem 2rem;
}

.img-about {
  border-radius: 0 10% 0 10%;
}

/* ---------------*/
/* Values section */
/* ---------------*/


.values{
  padding: 40px 0px 60px;
  background-color: var(--mainColor);
  margin: 4rem 0rem;
  width: 100vw;
}

.values h2 {
  margin-bottom: 2rem;
  color: var(--textColor);
  text-align: center;
}

.values-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.value-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 1rem;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.value-card {
  flex-basis: calc(33.33% - 20px); /* Display in three columns */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  background-color: var(--bgColor);
  padding: 20px;
  border-radius: 8px;
}

.value-card {
  box-shadow: 0 2px 14px rgba(9, 9, 9, 0.8);
}

.value-card h3{
  margin-bottom: 10px;
  color: var(--mainColor);
}

.value-card-img{
  align-self: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.value-card-register {
  flex-basis: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bgColor);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 14px rgba(9, 9, 9, 0.8);
  position: relative; 
  animation: glowing 3s infinite; /* Added animation to always be active */
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
  50% {
    box-shadow: 0 0 10px #7f6a6a, 0 0 40px #7d6666, 0 0 60px #8e6c6c;
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
}

/* .download-icons img{
  width: 8rem;
  height: 3rem;
} */


/* ---------------------------*/
/* Companies Involved section */
/* ---------------------------*/


.companies-involved h2,
p {
  text-align: center;
}

.companies-involved p {
  margin-bottom: 1rem;
}

.companies-involved {
  margin: 2rem 0;
}

.company-list {
  list-style: none;
  padding-left: 0;
}

.company-list li {
  margin-bottom: 5px;
}

.p-companies {
  padding: 2rem 2rem;
}

/* ---------------------*/
/* Subscription section */
/* ---------------------*/


.subscription {
  width: 100%;
  margin: auto;
  background-color: var(--clr-grey-light);
}

.subscription-content {
  text-align: center;
  margin: 2rem auto;
  width: 60%;
}


.subscription-features {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.subscription-features ul {
  width: 40%;
  text-align: center;
}
.subscription-features li {
  margin-bottom: 10px;
}

.subscription-button {
  background-color: var(--clr-font-light);
  color: var(--textColor);
  border: none;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 10px black;
}

.subscription-button:hover {
  background-color: var(--clr-dark-font);
  box-shadow: 0px 0px 10px white;
}

/* ------------------*/
/*       Logos       */
/* ------------------*/

.company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adds spacing between logos */
  max-width: 800px; /* Set your preferred max width */
  margin: 0 auto; /* Center the logos container */
  opacity: 0.7;
}

.company-logos img {
  flex: 0 0 calc(20% - 20px); /* Adjust to fit 5 logos in a row */
  max-width: 100%;
}

.welcome-companies-img {
  height: 7rem;
  width: 7rem;
  border-radius: 30%;
}

/* ------------------*/
/* Responsive Styles */
/* ------------------*/

@media screen and (max-width: 768px) {
  .welcome-container {
    overflow: hidden;
  }

  /* .background-section{
    margin-top: 0;
   } */

  .companies-involved {
    padding: 1rem;
  }

  .about-us-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-us-right {
    padding-left: 0;
    margin-top: 20px;
  }
  .about-us {
    padding: 0;
    flex-direction: column-reverse; /* Change to reverse column layout on smaller screens */
  }

  .about-us-right {
    padding-left: 0;
    margin-top: 3rem;
    order: -1; /* Change the order of the right column */
  }

  .about-us-left img {
    order: 1; /* Change the order of the left column */
  }

  .p-about {
    width: 80vw;
    margin-bottom: 2rem;
  }

  .values {
    padding: 20px 0;
  }

  .values-content { 
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  .value-cards,
  .course-cards {
    transform: skewY(
      3deg
    );
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .value-card,
  .course-card {
    flex-basis: 100%; /* Full width on smaller screens */
    text-align: center;
  }

  .company-logos img {
    flex: 0 0 calc(33.33% - 20px); /* Adjust for smaller screens */
  }
}

@media screen and (max-width: 425px) {
  /* Add your responsive styles here */
  .welcome-container {
    padding: 0;
  }
  .values{
    width: 100%;
  }
}
